* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('fundo_img_png.png') no-repeat center center/cover;
}

.login-container {
  background:  rgb(0, 0, 0);
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(251, 155, 0, 0.944);
}

.login-container h1 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  border-color: #7c4dff;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-group .remember-label {
  font-size: 14px;
  color: #fff;
}

.form-links {
  font-size: 14px;
  margin-top: 10px;
}

.form-links a {
  color: #007bff;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-submit:hover {
  background-color: #0056b3;
}