* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('fundo_img_png.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.menu-container {
  background:rgb(0, 0, 0); /* Fundo semitransparente para contraste */
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(251, 155, 0, 0.944);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.menu-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-container p {
  font-size: 14px;
  margin-bottom: 30px;
}

.btn-option {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.btn-option.professor {
  background-color: #007bff;
}

.btn-option.professor:hover {
  background-color: #0056b3;
}

.btn-option.aluno {
  background-color: #f38a00;
}

.btn-option.aluno:hover {
  background-color: #c77203;
}

.btn-option.admin {
  background-color: #f30000ee;
}

.btn-option.admin:hover {
  background-color: #590000;
}